body {
  background: #073;
  margin: 0;
  padding: 0;
}



/****** START PAGE ******/

h1 {
  color: #ff9;
  font-family: 'Abril Fatface', cursive;
  font-size: 94px;
}

h1 span {
  font-size: 42px;
}

.game_table {
  text-align: center;
  color: white;
}

.start_button {

}





button {
  width: 10%;
  font-size: 32px;
  background: #aaa;
  margin-bottom: 30px;
}

.card {
  background: #fff;
  height: 300px;
  line-height: 300px;
  width: 225px;
  border-radius: 5%;
  margin: 50px auto;
  font-size: 56px;
  color: black;
}

.card.back {
  background: url(card_back.jpg);
  background-size: cover;
}



.pOne, .pTwo, .status {
  display: inline-block;
  vertical-align: middle;
}

.status {
  display: inline-block;
  width: 300px;
}













